@import '../../colors2.scss';

.about-page {
  padding: 1.5rem;

  .container {
  
    .subtitle {
      font-size: 1.05rem;
      font-weight: 600;
      margin: 1.5rem 0;
      text-align: center;
      color: $zinc-500;
    }
    
    .text {
      font-size: .9rem;
      letter-spacing: 0.75px;
      line-height: 1.5rem;
      font-weight: 400;
      color: $gray-500;
    }
  
  }

}

.mr-32 {
  margin-right: 32px;
}

.card-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;

  .card {
    border: 1px solid black;
    border-radius: .5rem;
    padding: 1rem;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .circle {
      width: 160px;
      height: 160px;
      border-radius: 50%;
    }
  
    .author-description {
      margin-top: 1rem;
      width: 100%;
      text-align: center;
    }
  }

}

