@import '../../colors.scss';

nav {
  background-color: $primary;
  display: flex;
  padding: 0;
  width: 100%;
  justify-content: center;

  .menu-container {
    max-width: 1280px;
    display: flex;
    justify-content: start;
    width: 100%;

    .menu-item {
      padding: 10px 20px;
      color: white;
      text-decoration: none;
      font-size: .85rem;
    
      &:hover {
        background-color: $primary-hover;
      }

      &.menu-item--active {
        background-color: $primary-hover;
      }
    }
  }

}