@import '../../colors.scss';

nav {
  background-color: #1e293b;
  display: flex;
  padding: 0;
  width: 100%;
  justify-content: center;
  height: 48px;

  .menu-container {
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;

    .logo-container {
      display: flex;
      align-items: center;

      a {
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 600;
      }
    }

    .options-container {
      display: flex;

      .menu-item {
        color: white;
        text-decoration: none;
        font-size: .85rem;
        padding: 0 1.5rem;
        display: flex;
        align-items: center;
        text-transform: uppercase;


        &:hover {
          background-color: #475569;
        }

        &.menu-item--active {
          background-color: #475569;
        }
      }
    }

  }

}
