@import '../../colors2.scss';

.advices-page {

  .container {
    height: 100vh;
    background-color: white;
    padding: 1rem;
  }

}

.items-list {
  list-style-position: inside;
}

.subtitle {
  font-size: 1.05rem;
  font-weight: 600;
  margin: 1.5rem 0;
  text-align: center;
  color: $zinc-500;
}

.grid {
  .items-container {
    .items-list{
      font-size: .9rem;
      letter-spacing: 0.75px;
      line-height: 1.5rem;
      font-weight: 400;
      color: $gray-500;
    }
  }
  display: grid;
  grid-template-columns: 1fr 1fr;
}