.wrapper {
  display: flex;
  width: 72px;
  border: 1px solid #333;
  border-radius: 16px;
}

.button {
  background-color: white;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 10px;
}

input {
  width: 24px;
  border: none;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}

input[type=number]:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}