@import '../../colors.scss';

.main-header {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

.main {
  display: grid;
  grid-template-columns: 3fr 9fr;
  height: calc(100vh - 90px);
  width: 100%;
}

.table {
  width: 100%;
  font-size: 0.75rem;
}

.table-row {
  cursor: pointer;
}

.th-10 {
  width: 10%;
}

.tr-selected {
  background-color: #e5e7eb;
}

tr:hover {
  background-color: #f3f4f6;
}

.input-word {
  border: 1px solid #93c5fd;
  border-radius: 1rem;
  font-size: 0.75rem;
  outline: none;
  padding: 5px;
  text-transform: uppercase;
  width: 100%;
}

.input-word::placeholder {
  opacity: 0.4;
}

.divider {
  margin: 1.5rem 0;
}

.input-table {
  font-size: 0.75rem;
  height: 100%;
  outline: none;
  padding: 5px;
  text-transform: uppercase;
  width: 100%;
}

.title {
  font-size: 0.85rem;
  font-weight: 600;
}
