@import '../../colors.scss';
@import '../../colors2.scss';

.main {
  display: grid;
  grid-template-columns: 3fr 9fr;
  height: calc(100vh - 40px);
}

.table {
  width: 100%;
  font-size: .75rem;
}

.table-row {
  cursor: pointer;
}

.th-10 {
  width: 10%;
}

.tr-selected {
  background-color: $gray-200;
}

tr:hover {
  background-color: $gray-100;
}

.input-word {
  border: 1px solid $blue-300;
  border-radius: 1rem;
  font-size: .75rem;
  outline: none;
  padding: 5px;
  text-transform: uppercase;
  width: 100%;
}

.input-word::placeholder {
  opacity: .4;
}

.divider {
  margin: 1.5rem 0;
}

.input-table {
  font-size: .75rem;
  height: 100%;
  outline: none;
  padding: 5px;
  text-transform: uppercase;
  width: 100%;
}

.title {
  font-size: .85rem;
  font-weight: 600;
}