@import '../../colors.scss';
@import '../../colors2.scss';

.btn {
  border-radius: .25rem;
  padding: .25rem .5rem;
  cursor: pointer;
  outline: none;
  border: none;
}

.btn-disbled {
  opacity: .5;
  cursor: not-allowed;
}

.my-4 {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.mx-4 {
  margin-left: .25rem;
  margin-right: .25rem;
}

.ml-4 {
  margin-left: .25rem;
}

.mr-4 {
  margin-right: .25rem;
}

.mb-8 {
  margin-bottom: .5rem;
}

.p-8 {
  padding: .5rem;
}

.p-16 {
  padding: 1rem;
}

.px-16 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-16 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-24 {
  padding: 1.5rem;
}

.px-24 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.mb-16 {
  margin-bottom: 1rem;
}

.my-16 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.w-20 {
  width: 20px;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.btn-primary {
  background-color: $primary;
  color: white;

  &:hover {
    background-color: $primary-hover !important;
  }
}

.btn-secondary {
  background-color: $secondary;
  color: white;

  &:hover {
    background-color: $secondary-hover !important;
  }
}

.btn-info {
  background-color: $info;
  color: white;  

  &:hover {
    background-color: $info-hover !important;
  }
}

.btn-success {
  background-color: $success;
  color: white;  

  &:hover {
    background-color: $success-hover !important;
  }
}

.btn-warning {
  background-color: $warning;
  color: white;  

  &:hover {
    background-color: $warning-hover !important;
  }
}

.btn-danger {
  background-color: $danger;
  color: white;  

  &:hover {
    background-color: $danger-hover !important;
  }
}

.main {
  display: grid;
  grid-template-columns: 3fr 9fr;
  height: calc(100vh - 40px);
}

.left-side {
  // border: 1px solid $gray-300;
}

.right-side {
  // border: 1px solid $gray-300;
}

.tr-selected {
  background-color: $gray-200;
}

tr:hover {
  background-color: $gray-100;
}

.table-row {
  cursor: pointer;
}

.th-10 {
  width: 10%;
}

.table {
  width: 100%;
  font-size: .75rem;
}

.label {
  font-size: .75em;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-label {
  font-size: .75em;
}

.input-word {
  border: 1px solid $quinto-color;
  border-radius: 1rem;
  font-size: .75rem;
  outline: none;
  padding: 5px;
  text-transform: uppercase;
  width: 100%;
}

.input-word::placeholder {
  opacity: .4;
}

.btn-block {
  width: 100%;
}

.divider {
  margin: 1.5rem 0;
}

.input-table {
  font-size: .75rem;
  height: 100%;
  outline: none;
  padding: 5px;
  text-transform: uppercase;
  width: 100%;
}

.button-delete {
  background-color: red;
  color: white;
  border: none;
  padding: 0 .25rem;
}

.button-save {
  background-color: $cuarto-color;
  color: white;
  border: none;
  padding: 0 .25rem;
}

.title {
  font-size: .85rem;
  font-weight: 600;
}

.center {
  text-align: center;
}

.flex2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.invisible {
  display: none;
}