$primary: #3b82f6;
$primary-hover: #60a5fa;

$secondary: #6b7280;
$secondary-hover: #9ca3af;

$info: #06b6d4;
$info-hover: #22d3ee;

$success: #22c55e;
$success-hover: #4ade80;

$warning: #eab308;
$warning-hover: #facc15;

$danger: #ef4444;
$danger-hover: #f87171;
